<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
             value="%d{yyyy-MM-dd HH:mm:ss z} %-5p [%t] %C %L - %m%n" />
    </layout>
  </appender>

  <appender name="file" class="org.apache.log4j.RollingFileAppender">
    <param name="append" value="false" />
    <param name="maxFileSize" value="1MB" />
    <param name="maxBackupIndex" value="5" />
    <param name="file" value="gobblin-integration-test-log-dir/gobblin-cluster-test.log" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
             value="%d{yyyy-MM-dd HH:mm:ss z} %-5p [%t] %C %L - %m%n" />
    </layout>
  </appender>

  <root>
    <level value="info" />
    <appender-ref ref="file" />
    <appender-ref ref="console" />
  </root>

  <!-- Set log level for Helix/ZK logs to ERROR to avoid Travis build failures due to exceeding maximum log length. -->
  <logger name="org.apache.helix">
    <level value="ERROR"/>
  </logger>

  <logger name="org.apache.zookeeper">
    <level value="ERROR"/>
  </logger>

  <!-- Swallow annoying exceptions when creating a configuration. -->
  <logger name="org.apache.hadoop.conf.Configuration">
    <level value="FATAL"/>
  </logger>

</log4j:configuration>
