.classpath*
.project*
.settings
.idea
*.iml
*.iws
*.ipr
*.swp
*.swo
*.log
**/.classpath
**/.project
**/.settings
**/.idea
**/*.iml
**/*.iws
**/*.ipr
**/*.swp
**/*.swo
**/*.log
*/bin
build
**/build
.gradle
**/.gradle
test-output
**/test-output
dist
target
tmp
out
**/out
output
**/gradle
**/ligradle
**/output
**/staging
jobOutput
**/jobOutput
state-store
**/state-store
test/metrics
test/byteman
test/previous-job-ids
/eclipse_build
.project
.settings
.classpath
.gradle
.idea
*.iml
*.ipr
*.iws
/build
*/build
out/
*/bin/
.project
.settings
.classpath
.gradle
.idea
*.iml
*.ipr
*.iws
/build
*/build
out/
*/bin/
.project
.settings
.classpath
.gradle
.idea
*.iml
*.ipr
*.iws
/build
*/build
out/
*/bin/
