.classpath*
.project*
.settings
.idea
*.iml
*.iws
*.ipr
*.swp
*.swo
*.log
**/.classpath
**/.project
**/.settings
**/.idea
**/*.iml
**/*.iws
**/*.ipr
**/*.swp
**/*.swo
**/*.log
**/bin
build
**/build
.gradle
**/.gradle
test-output
**/test-output
dist
target
tmp
out
**/out
output
**/output
**/staging
jobOutput
**/jobOutput
task-state-store
**/task-state-store
