.classpath*
.project*
.settings
.idea
*.iml
*.iws
*.ipr
*.swp
*.swo
*.log
**/.classpath
**/.project
**/.settings
**/.idea
**/*.iml
**/*.iws
**/*.ipr
**/*.swp
**/*.swo
**/*.log
*/bin
**/bin
build/
**/build/
.gradle
**/.gradle
test-output
**/test-output
dist
target
tmp
out
**/out
output
gobblin-test/basicTest
gobblin-test/jobOutput
gobblin-test/state-store
gobblin-tesTaskt/metrics
gobblin-test/byteman
gobblin-test/locks
gobblin-test/mr-jobs
/eclipse_build
.project
.classpath
out/
*/bin/
**/mainGeneratedDataTemplate
**/mainGeneratedRest
gobblin-dist/
gobblin-distribution-*.tar.gz
gobblin.tar.gz
*~
metastore_db/
GobblinKey_*.pem
