# ====================================================================
# Retention template
# ====================================================================
job.name=SnapshotRetention
job.class=gobblin.data.management.retention.DatasetCleanerJob
#Dataset pattern
gobblin.dataset.pattern=${gobblin.flow.edge.input.dataset.descriptor.path}/${?gobblin.flow.edge.input.dataset.descriptor.subPaths}
#Dataset finder class
gobblin.dataset.profile.class="org.apache.gobblin.data.management.retention.profile.SnapshotDatasetProfile"
# Dataset version finder
gobblin.retention.version.finder.class=${retention.version.finder.class}
## Setting the trash location, which will contain the files deleted during the retention
gobblin.trash.location="/tmp/${user.to.proxy}"