<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">

<module name="Checker">
  <module name="Header">
    <property name="header" value="/*&#10; * Licensed to the Apache Software Foundation (ASF) under one or more&#10; * contributor license agreements.  See the NOTICE file distributed with&#10; * this work for additional information regarding copyright ownership.&#10; * The ASF licenses this file to You under the Apache License, Version 2.0&#10; * (the &quot;License&quot;); you may not use this file except in compliance with&#10; * the License.  You may obtain a copy of the License at&#10; *&#10; *    http://www.apache.org/licenses/LICENSE-2.0&#10; *&#10; * Unless required by applicable law or agreed to in writing, software&#10; * distributed under the License is distributed on an &quot;AS IS&quot; BASIS,&#10; * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.&#10; * See the License for the specific language governing permissions and&#10; * limitations under the License.&#10; */"/>
    <property name="fileExtensions" value="java"/>
  </module>

  <module name="SuppressionFilter">
    <property name="file" value="config/checkstyle/suppressions.xml"/>
    <property name="optional" value="true"/>
  </module>
</module>